/* ======== VARIABLES BASE ======== */
:root {
    --primary: #7e4fd7;           /* Morado brillante principal */
    --primary-dark: #621a98;      /* Morado oscuro para hover */
    --accent: #FF8BFF;            /* Rosa neon de reflejos */
    --text: #EDEDF7;              /* Texto claro */
    --text-muted: #A5A5C3;        /* Texto secundario grisaseo */
    --bg-dark: #0B0B17;           /* Fondo principal oscuro */
    --bg-section: #14142B;        /* Fondo para secciones */
    --card-bg: #1D1D38;           /* Fondo de tarjetas */
    --white: #FFFFFF;             /* Blanco puro */
    --shadow: 0 10px 25px rgba(162, 112, 255, 0.25); /* Glow violeta */
}

/* ======== HEADER ======== */

/* Si ya inició sesión */
.site-header {
    display: flex;
    align-items: center;
    justify-content: space-between; /* separa logo/nav de menú usuario */
    padding: 10px 40px;
    background-color: #fff; /* o el color que uses */
}

.logo {
    display: flex;
    align-items: center;
    gap: 10px;
}

.main-nav {
    display: flex;
    gap: 20px;
    margin-left: 40px; /* espacio entre logo y nav */
}

.menu-usuario {
    margin-left: auto; /* empuja este div completamente a la derecha */
}

.menu-usuario ul {
    display: flex;
    align-items: center;
    gap: 15px;
    list-style: none;
    margin: 0;
    padding: 0;
}
/* ------------------- */
.menu {
    list-style: none;
    padding: 0;
    margin-top: 15px;
    display: flex;
    gap: 20px;
}

.menu a {
    text-decoration: none;
    /* color: #fff;
    font-weight: bold;
    transition: 0.3s; */
}

/**============================================================*/
.login-menu {
  background: linear-gradient(135deg, var(--primary), var(--primary-dark));
  color: var(--white);
  font-weight: 600;
  font-size: 16px;
  border: none;
  border-radius: 9999px; /*forma de píldora */
  padding: 12px 28px;
  cursor: pointer;
  transition: 0.3s;
  box-shadow: 0 0 12px rgba(108, 99, 255, 0.4);

  justify-self: end; /* Boton a la derecha */
}

/* Hover */
.login-menu:hover {
  transform: translateY(-2px);
  box-shadow: 0 6px 20px rgba(168, 85, 247, 0.5);
}

/* Active (clic) */
.login-menu:active {
  transform: translateY(0);
  box-shadow: 0 3px 8px rgba(126, 79, 215, 0.4);
}

.verCuenta-btn{
    color: var(--white);
}

/* Si hay un botón de "Cerrar sesión" */
.logout-btn {
    justify-self: end; /* Boton a la derecha */
    padding: 8px 24px;
    border-radius: 20px;
    background: rgba(108,99,255,0.4);
    color: var(--white);
    text-decoration: none;
    font-weight: 600;
    transition: 0.3s;
    box-shadow: 0 0 12px #6a0066;
    white-space: nowrap;
    position: relative;
    overflow: hidden;
    cursor: pointer;
}


/*Brillo blanco que se desliza de izquierda a derecha*/
.logout-btn::before {
    content: '';
    position: absolute;
    top: 0;
    left: -100%; /*inica*/
    width: 100%;
    height: 100%; 
    background: linear-gradient(90deg, transparent, rgba(216, 208, 208, 0.2), transparent);
    transition: 0.5s;
}

.logout-btn:hover::before {
    left: 100%; /*termina*/
}
/* =============================================================================================== */


.site-header {
    display: grid;
    grid-template-columns: 1fr auto 1fr; /* Logo | Navegacion | Boton */
    align-items: center;
    background: rgba(20, 20, 40, 0.95);
    backdrop-filter: blur(8px);
    padding: 15px 60px;
    position: sticky;
    top: 0;
    z-index: 1000;
    box-shadow: var(--shadow);
}

.logo {
    display: flex;
    align-items: center;
    gap: 12px;
    justify-self: start; /* Logo a la izquierda */
    filter: drop-shadow(0 0 8px var(--accent));
}

.title{
    height: 82px;
}

.logo img {
    width: 85px;
    height: 85px;
    object-fit: contain;
    filter: drop-shadow(0 0 6px rgba(108,99,255,0.5));
    transition: transform 0.3s ease;     
}

.logo img:hover {
    transform: scale(1.05);
}

.logo > div {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

.logo h1 {
    font-size: 1.6rem;
    font-weight: 600;
    color: var(--white);
    line-height: 1.2;
    margin-bottom: 2px; 
}

.slogan {
    font-size: 0.9rem;
    color: var(--text-muted);
    font-weight: 400;
    letter-spacing: 0.4px;
    white-space: nowrap;
    line-height: 1;
}

.main-nav {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 30px;
    justify-self: center; /* Navegacion al centro */
}

.main-nav a {
    text-decoration: none;
    color: var(--text-muted);
    font-weight: 500;
    transition: color 0.3s;
    position: relative;
}

.main-nav a.active {
    color: var(--primary);
}

.main-nav a:hover {
    color: var(--accent);
}

.main-nav a::after {
    content: "";
    position: absolute;
    width: 0;
    height: 2px;
    background: var(--accent);
    left: 0;
    bottom: -5px;
    border-radius: 2px;
    transition: width 0.3s ease;
}

.main-nav a.active::after {
    width: 100%;
    background: var(--primary);
}

.main-nav a:hover::after {
    width: 100%;
    background: var(--accent);
}

.login-btn {
    justify-self: end; /* Boton a la derecha */
    padding: 8px 24px;
    border-radius: 20px;
    background: linear-gradient(135deg, var(--primary), var(--primary-dark));
    color: var(--white);
    text-decoration: none;
    font-weight: 600;
    transition: 0.3s;
    box-shadow: 0 0 12px rgba(108, 99, 255, 0.4);
    white-space: nowrap;
    position: relative;
    overflow: hidden;
}


/*Brillo blanco que se desliza de izquierda a derecha*/
.login-btn::before {
    content: '';
    position: absolute;
    top: 0;
    left: -100%; /*inica*/
    width: 100%;
    height: 100%; 
    background: linear-gradient(90deg, transparent, rgba(216, 208, 208, 0.2), transparent);
    transition: 0.5s;
}

.login-btn:hover::before {
    left: 100%; /*termina*/
}

/* ======== FOOTER ======== */
.site-footer {
  background: #151529;
  color: var(--text-muted);
  text-align: center;
  padding: 25px 10px;
  font-size: 0.9rem;
}

.site-footer a {
  color: var(--primary);
  text-decoration: none;
}

.site-footer a:hover {
  text-decoration: underline;
}

/* ============================================ CERTS ============================================ */
body {
    font-family: "Poppins", sans-serif;
    color: var(--text);
    background-color: var(--bg-dark);
    background: linear-gradient(145deg, #1e1e3f, #0f0f1a);
    margin: 0;
}

main {
    padding: 40px;
    max-width: 1100px;
    margin: auto;
    justify-content: space-between;
}

.cert-list{
    display: grid;
    gap: 24px;
    grid-template-columns: repeat(auto-fit, minmax(280px, 1fr));
    align-items: stretch;
}

.cert-card { 
    display: flex;
    flex-direction: column; 
    justify-content: space-around; 
    min-height: 450px;
    background: #1f1f38;
    border-radius: 12px;
    padding: 20px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.3);
}

.cert-card img{
  width: 80px;
  border-radius: 10px;
  margin-bottom: 10px;
}

.btn-cert {
    align-items: center;
    background: linear-gradient(144deg, #af40ff, #5b42f3 50%, #00ddeb);
    border: 0;
    border-radius: 8px;
    box-shadow: rgba(151, 65, 252, 0.2) 0 15px 30px -5px;
    box-sizing: border-box;
    color: #ffffff;
    display: flex;
    font-size: 18px;
    justify-content: center;
    line-height: 1em;
    max-width: 100%;
    min-width: 140px;
    padding: 3px;
    text-decoration: none;
    user-select: none;
    -webkit-user-select: none;
    touch-action: manipulation;
    white-space: nowrap;
    cursor: pointer;
    transition: all 0.3s;
}

.btn-cert:disabled {
    cursor: not-allowed;
    pointer-events: none;
}

.btn-cert:active,
.btn-cert:hover {
  outline: 0;
}

.btn-cert:hover{
  transform: translateY(-3px);
  box-shadow: rgba(151, 65, 252, 0.4) 0 20px 40px -5px;
}

.btn-cert:active {
  transform: translateY(-1px);
  box-shadow: rgba(151, 65, 252, 0.3) 0 10px 20px -5px;
}

.btn-cert:active {
  transform: scale(0.9);
}

.acciones {
  margin-top: auto;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 16px;
}

.acciones .btn-cert {
  flex: 1; 
  max-width: none; 
  min-height: 56px; 
}

/* =============================================================================================== */
.btn-disabled,
.btn-cert:disabled {
  background: #2a2a3e !important;
  border: none !important;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.4) !important;
  cursor: not-allowed !important;
  opacity: 0.7;
}

.btn-disabled span,
.btn-cert:disabled span {
  background: transparent !important;
  color: #ffffff !important;
  padding: 16px 24px;
}
